<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo - Form submissions Netlify plugin</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.5.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.5.0/mapbox-gl.js"></script>
  </head>
  <body>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">
    <style>
      #geocoder {
        z-index: 1;
        margin: 0 0 10px;
      }
    </style>
    <section>
      <h1>Submit a new archive</h1>
      <form method="post" name="collection-form" data-netlify="true" data-netlify-honeypot="bot-field">
        <label for="archive-name">
          Archive Name</label>
        <input id="archive-name" name="archive-name" type="text"/>
        <br>
        <label for="archive-description">
          Archive Description</label>
        <textarea id="archive-description" name="archive-description" rows="10" cols="30"></textarea>

        <label for="archive-time">
          Which time periods do the materials relate to?</label>
        <input id="archive-time" name="archive-time" type="text"/>

        <label for="archive-region">
          Archive Region</label>
        <input id="archive-region" name="archive-region" type="text"/>

        <div id="archive-address">
          <label for="archive-location">
            Archive Address
          </label>
          <div id="geocoder"></div>
          <input type="hidden" id="lat" name="lat"/>
          <input type="hidden" id="lng" name="lng"/>
        </div>

        <label for="archive-link">
          Link to materials</label>
        <input id="archive-link" name="archive-link" type="url"/>
        <label for="archive-tags">
          Keywords</label>
        <input id="archive-tags" name="archive-tags" type="text"/>

        <fieldset>
          <label for="archive-material">Select the type of materials available:</label><br>
          <input id="audio" type="checkbox" name="archive-material" value="audio">
          <label for="audio">Audio</label><br>

          <input id="film" type="checkbox" name="archive-material" value="film">
          <label for="film">Film</label><br>

          <input id="ephemera" type="checkbox" name="archive-material" value="ephemera">
          <label for="ephemera">Ephemera</label><br>

          <input id="images" type="checkbox" name="archive-material" value="images">
          <label for="images">Images/Photographs</label>

          <input id="official-records" type="checkbox" name="archive-material" value="official-records">
          <label for="official-records">
            Official records</label>

          <input id="fine-art" type="checkbox" name="archive-material" value="fine-art">
          <label for="fine-art">
            Fine Art</label>

          <input id="correspondence" type="checkbox" name="archive-material" value="correspondence">
          <label for="correspondence">
            Correspondence</label>

          <input id="published-reports" type="checkbox" name="archive-material" value="published-reports">
          <label for="published-reports">
            Published reports</label>

          <input id="maps" type="checkbox" name="archive-material" value="maps">
          <label for="maps">
            Maps</label>

          <input id="unknown" type="checkbox" name="archive-material" value="unknown">
          <label for="unknown">
            Unknown</label>

        </fieldset>

        <input type="hidden" id="archive-material" name="archive-material"/>

        <button id="submitBtn" type="submit" name="submit" value="Submit Form">Submit</button>
      </form>
    </section>
    <script>
      mapboxgl.accessToken = "pk.eyJ1IjoibXVsdGl0dWRlcyIsImEiOiJja3VtbXRyM3cwZzQ3MnZwMTdoenRheXUxIn0.mTaqrjMcME57vZlFxGIRJQ";

      const geocoder = new MapboxGeocoder({accessToken: mapboxgl.accessToken, types: "country,region,place,postcode,locality,neighborhood"});

      geocoder.addTo("#geocoder");

      // making geocoder input more accessible
      geocoderInput = document.getElementsByClassName('mapboxgl-ctrl-geocoder--input');
      geocoderInput[0].placeholder = 'search by postcode';
      geocoderInput[0].name = 'archive-location';

      // Get each hidden field.
      const latField = document.getElementById("lat");
      const lngField = document.getElementById("lng");

      // Add geocoder results into each coodinates hidden fields.
      geocoder.on("result", (e) => {
        latField.value = JSON.stringify(e.result.geometry.coordinates[1], null, 2);
        lngField.value = JSON.stringify(e.result.geometry.coordinates[0], null, 2);
      });

      // Clear results container when search is cleared.
      geocoder.on("clear", () => {
        latField.value = "";
        lngField.value = "";
      });

      function getSelectedCheckboxValues(name) {
        const checkboxes = document.querySelectorAll(`input[name="${name}"]:checked`);
        const checkboxesInput = document.getElementById("archive-material");

        let values = [];
        checkboxes.forEach((checkbox) => {
          values.push(checkbox.value);
        });

        checkboxesInput.value = values
        console.log('checkboxesInput', checkboxesInput);
        return checkboxesInput;
      }
      const submitBtn = document.querySelector('#submitBtn');
      submitBtn.addEventListener('click', (event) => {
        getSelectedCheckboxValues('archive-material');
      });
    </script>
  </body>
</html>